<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.eejing.ejcolorflower">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".app.GApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SignUpActivity" />
        <activity android:name=".ui.activity.SiPwdForgetActivity" />
        <activity android:name=".ui.activity.AppActivity" />
        <activity android:name=".ui.activity.BLEActivity" />
        <activity android:name=".ui.activity.DeQrAddDeviceActivity" />
        <activity android:name=".ui.activity.DeDeviceDetailsActivity" />
        <activity android:name=".ui.activity.DeQrAddMaterialActivity" />
        <activity android:name=".ui.activity.CoDeviceActivity" />
        <activity android:name=".ui.activity.CoConfigStreamActivity" />
        <activity android:name=".ui.activity.CoConfigRideActivity" />
        <activity android:name=".ui.activity.CoConfigIntervalActivity" />
        <activity android:name=".ui.activity.CoConfigTogetherActivity" />
        <activity android:name=".ui.activity.MaGoodsDetailsActivity" />
        <activity android:name=".ui.activity.MaOrderConfirmActivity" />
        <activity android:name=".ui.activity.MaOrderPayActivity" />
        <activity android:name=".ui.activity.MaAddressSelectActivity" />
        <activity android:name=".ui.activity.MaAddressManageActivity" />
        <activity android:name=".ui.activity.MiOpinionActivity" />
        <activity android:name=".ui.activity.MiAboutActivity" />
        <activity android:name=".ui.activity.MiSetActivity" />
        <activity android:name=".ui.activity.MiUserInfoActivity" />
        <activity android:name=".ui.activity.MiPwdModifyActivity" />
        <activity android:name=".ui.activity.MiOrderActivity" />
        <activity android:name=".ui.activity.MiOrderDetailsActivity" />

        <!-- alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>